#add__todo {
  margin-bottom: 20px;
}

.input-box > textarea {
  padding: 6px 8px;
  width: 100%;
  min-height: 40px;
  border-color: rgb(209, 213, 218);
  font-size: 13px;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}

.input-box > textarea::placeholder {
  color: #b8bcc1;
}

.input-box > textarea::-webkit-input-placeholder {
  color: #b8bcc1;
}
.input-box > textarea:-ms-input-placeholder {
  color: #b8bcc1;
}

#add__todo .add__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.btn__green,
#add__todo .btn__cancel {
  line-height: 20px;
  height: 37px;
  font-weight: 600;
  padding: 6px 12px;
  width: 48%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
}

.btn__green {
  color: #fff;
  background-color: #29ad47;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
}

.btn__green:hover {
  background-color: #269f42;
  background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.5);
}

#add__todo .btn__cancel {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

#add__todo .btn__cancel:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.35);
}
