@import "reset.css";
@import "popup.css";
@import "menu.css";
@import "addInput.css";

#wrap {
  overflow: hidden;
}

#header {
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  height: 75px;
  background-color: #24292e;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
#header .history-btn,
h1 {
  color: #fff;
  font-weight: bold;
}
#todo {
  justify-content: space-evenly;
  padding: 1%;
}
#todo .todo__column {
  margin-bottom: 10px;
  padding: 16px;
  height: 85vmin;
  overflow: auto;
  width: 365px;
  border-radius: 6px;
  border: 1px solid #e1e4e8;
  background-color: #eff1f3;
  font-weight: 600;
  font-size: 14px;
  box-shadow: -3px 0 5px rgba(36, 41, 46, 0.05);
}
#todo #todo__add-column {
  align-items: center;
  height: 110px;
  border: 1px #959da5 dashed;
  background-color: transparent;
}
#todo .column__header {
  justify-content: space-between;
  margin-bottom: 14px;
}
#todo .column__card-count {
  display: inline-block;
  margin: 4px;
  padding: 2px 5px;
  border-radius: 20px;
  font-size: 12px;
  background-color: rgba(27, 31, 35, 0.15);
}

#todo .column__cards {
  height: 93%;
}

#todo .column__card {
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 16px;
  width: 100%;
  height: 111px;
  border-radius: 6px;
  border: 1px solid #e1e4e8;
  background-color: #fff;
  cursor: move;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.17), 0 3px 3px rgba(0, 0, 0, 0.23);
  overflow: auto;
}

#todo .column__card.dragging {
  opacity: 0.5;
}

#todo .card__left {
  justify-content: space-between;
}
#todo .card__content {
  margin-right: 20px;
  word-break: break-all;
}
#todo .column__card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#todo .card__header {
  height: 80%;
}
#todo .column__card .card__icon {
  padding-right: 4px;
  color: #5dbc73;
}

#todo .card__right {
  margin-top: 20px;
}

#todo .card__author {
  font-size: 90%;
  color: #586069;
}

#todo .card__author > strong {
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#wrap .input-active {
  border-color: #2188ff;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075),
    0 0 0 0.2em rgba(3, 102, 214, 0.3);
  border-radius: 6px;
}
#wrap .plus-btn,
#wrap .close-btn {
  padding: 0 4px;
  color: #586069;
}

#wrap .plus-btn i:hover,
#wrap .close-btn i:hover {
  color: #2188ff;
}

#wrap .on-block {
  display: block;
}
